<div class="container mt-3 bg-warning">
  <div class="row pt-md-5 pt-3">
    <div class="col p-md-5 p-sm-3">
      <h2 class="text-uppercase text-center text-dark mb-3">
        navigate your city's culturallandscape, starting from your inbox
      </h2>
      <p class="fs-4 text-center">
        Sign up to receive Flavorpill’s hyper-curated event recommendations and invites—experiences that inspire and
        connect—direct to your inbox.&nbsp;
      </p>
      <p class="fs-5 text-center">
        I am based in barcelona, but thanks to the new technologies, we can connect from everywhere.
      </p>
      <div class="card bg-warning border-0">
        <div class="card-body">
          <div class="card-title">
            <h4 class="text-capitalize">
              email
            </h4>
            <form action="" [formGroup]="signUpForm" (ngSubmit)="onSubmit()" novalidate>
              <input class="border-0 col-10 p-2 rounded-3 form-control" type="email" id="myMail"
                formControlName="inputEmail" [placeholder]="placeholder.email"
                [ngClass]="{'is-invalid':isValidInput('inputEmail')}">
              <div class="invalid-feedback">
                <span class="small text-danger fw-bold" *ngIf="signUpForm.get('inputEmail').errors.required">
                  Your email is required
                </span>
                <span class="small text-danger fw-bold" *ngIf="signUpForm.get('inputEmail').errors.pattern">
                  Email format is invalid
                </span>
              </div>

              <p class=" d-flex flex-row justify-content-center mt-5">
                <button class="btn btn-dark text-center text-capitalize"
                type="submit"
                > sign up</button>

              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
