#cover {
  background: #222 url('https://images.unsplash.com/photo-1528589948738-17ee86436f11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80.jpg') center center no-repeat;
  background-size: cover;
  color: rgb(212, 185, 33);
  height: 50vw;
  text-align: center;

}
img {
  height: 40vh;
}
